/*GENERAL*/
body {
	font-family: 'Shadows Into Light', cursive;
	overflow: auto;
	text-align: center;
	width: 100%;
	background: url(../images/brainbow.jpg);
	background-repeat: round;
}
* {
	box-sizing: content-box;
}
.gameScreen, .stopScreen {
	display: none;
}
.game-container {
	background-color: white;
	width: 60%;
	margin-left: 20%;
}
/*START SCREEN*/
.main-container {
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 15%;
	width: 70%;
	background-color: #ffff00;
	box-shadow: 5px 5px white;
	padding-bottom: 200px;
}
#startBtn {
	font-size: 40px;
	margin-top: 100px;
	color: white;
	padding: 0px 50px;
}
.funFact {
	position: absolute;
	top: 200px;
	font-weight: bold;
	color: darkblue;
	text-shadow: 1px 1px lightblue;
}
/*GAME SCREEN*/
h1 {
	color: lightgreen;
	text-shadow: 1px 1px white;
	text-decoration: underline;
	font-size: 50px;
}
h3 {
	font-size: 16px;
	display: inline-block;
}
.btn-circle {
	width: 15px;
	height: 10px;
	padding: 3px 0;
	font-size: 6px;
	border-radius: 7.5px;
}
.btn-circle {
	display: inline-block;
}
#questionDiv {
	font-weight: bold;
}
.select {
	margin-left: 20px;
	margin-bottom: 10px;
}
/*END SCREEN*/
.start-over {
	margin-bottom: 10px;
	color: white;
}
.timeTracker {
	color: white;
}

/* MEDIA QUERIES */

@media screen and (max-width: 800px) {

	.game-container {
		width: 100%;
	}
	.main-container {
		margin-left: 10px;
		margin-right: 10px;
		margin-top: 10px;
	}

}

@media screen and (max-width: 500px) {

	.game-container {
		width: 98%;
		margin-left: -1px;
	}
	.main-container {
		width: 98%;
		margin-top: 10px;
		margin-left: 0%;
	}

}



